<div class="container">

  <div class="row justify-content-center">
    <%= render 'shared/errors', obj: @user %>

    <%= form_with(model: @user, class: "shadow mb-5 bg-info rounded", local: true) do |f| %>

      <div class="my-3">
        <%= f.label :username, class: "form-label" %>
        <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Enter a username" %>
      </div>

      <div class="my-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email address" %>
      </div>

      <div class="my-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Choose a password" %>
      </div>



      <div class="mb-3 text-center">
        <%= f.submit class: "btn btn-outline-light btn-lg" %>
      </div>

    <% end %>

    <div class="mb-3 text-center">
      <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
    </div>
  </div>

</div>

